alias rm="rm -i"
alias mv="mv -i"
alias untargz="tar -xvzf"
alias untarxz="tar -xJf"
alias ls="ls --color=auto"
alias grep="grep --color"
alias ip="ip -c"
alias ddate="date '+%a %d %b %Y %T %Z (%z)'"
alias np="mpc current && mpc current | xclip -sel clip"
alias fehbg="feh --bg-fill --randomize ~/dotfiles/wallpapers/*"
alias cesc="setxkbmap -option caps:escape"
