[user]
    name = evilwaveforms
    email = 8681846+evilwaveforms@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    ; line-numbers = true
    ; true-color = always
    features = corvus
    ; side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[include]
    path = ~/themes.gitconfig

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[pretty]
    custom = "%C(always,yellow)%h%C(always,reset) %C(always,green)%ad%C(always,reset) %C(always,bold blue)%an%C(always,reset) %C(always,red)%d%C(always,reset) %s"

[alias]
    lg = log --graph --pretty=custom --abbrev-commit --date=format:'%d/%m/%Y %H:%M:%S'
