#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "black", bg: "red", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "red", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "red", modifiers: "Bold"),
    borders_style: (fg: "red"),
    highlight_border_style: (fg: "red"),
    symbols: (song: "S", dir: "D", playlist: "P", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["", "░", "█", " ", ""],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "red"),
        thumb_style: (fg: "red", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "red"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "40%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "red", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "red", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "red", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "red")),
                    (kind: Property(Widget(Volume)), style: (fg: "red"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "red", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "red", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
